.s {
  width: 130px;
  height: 20vh;
  margin: 10px 10px;
}  
  
  .outer-div {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: #bcbcbc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .first-div {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #daeff0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bcbcbc;
  }
  
  .inner-div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 105px;
    height: 105px;
    background-color: #005f64;
  }
  
  .main {
    font-size: 18px;
    margin: auto;
    color: #59f7ff;
  }

 